.thing {
    text-align: left;
}

.end-time {
    text-align: right;
    color: grey;
    font-size: small;
}

.todo-list {
    background-color: #fff;
    width: 450px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}