.time-style-1 {
    color:blue;
    background-color: #fff;
    padding:0 20px;
    height: 60px;
    line-height: 60px;
    width: 450px;
    margin:10px auto;
    border-radius: 10px;
}

.time-style-2 {
    display: inline-block;
    font-size: larger;
    background-color: #F7F4F8;
    border-radius: 3px;
    width: 20px;
    height: 60px;
    margin: 0 5px;
    text-align: center;
    
}

.remind-list {
    color: grey;
    width: 450px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #fff;
    padding:10px 20px;
    position: relative;
}
