.title {
    background-color: #fff;
    text-align: left;
    color: grey;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}

.content {
    width: 100%;
    border: none;
    height: 220px;
    font-size: 10px;
    margin-bottom: 10px;
}

.content:focus {
    outline: none;
}
